.landing-section{
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-tags a {
  text-align: left;
  font-size: 20px;
  letter-spacing: 0px;
  color: #222222;
  opacity: 1;
  display: inline-block;
  margin-right: 50px;
  padding-top: 48px;
  text-decoration: none;
  font-family: opensans-regular;
}
.login-btn {
  box-shadow: 0px 0px 20px #00000033;
  border: 2px solid #663399;
  border-radius: 24px;
  opacity: 1;
  margin-right: 25px;
  color: #663399;
  padding: 6px 35px;
  font-family: Montserrat-Medium;
  font-size: 16px;
  background-color: transparent;
  z-index: 1;
}
.login-btn:hover,
.get-started-btn:hover {
  color: #fff !important;
  background-color: #663399 !important;
}
.get-started-btn {
  background: transparent linear-gradient(90deg, #9f62c9 0%, #663399 100%) 0% 0%
    no-repeat padding-box;
  border: none;
  box-shadow: 0px 0px 20px #00000033;
  border-radius: 24px;
  opacity: 1;
  color: #fff;
  padding: 8px 35px;
  font-family: Montserrat-Medium;
  font-size: 16px;
  z-index: 1;
}
.landing-text {
  font-size: 40px;
  font-family: montserrat-medium;
  max-width: 407px;
  margin-bottom: 0px;
  padding-left: 15px;
}
.landing-text-border {
  border: 3px solid #000000;
  opacity: 70%;
  width: 50%;
  display: inline-block;
  max-width: 240px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.card-wave-bg {
  margin-top: 120px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text {
  font-size: 40px;
  font-family: Montserrat-Medium;
  max-width: 500px;
  margin-bottom: 0px;
  padding-left: 15px;
  color: #222222;
}
.banner-text-border {
  border: 3px solid #707070;
  opacity: 70%;
  width: 50%;
  display: inline-block;
  max-width: 350px;
  margin-bottom: 0px;
  margin-left: 15px;
}
.landing-image {
  max-width: 100%;
  margin-top: 80px;
}
.calculator-data-box {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px 0px #23213214;
  .eligibility-header {
    background: #f3f3f3;
    text-align: center;
    padding: 5px 0px;
    border-radius: 15px 15px 0px 0px;
  }
  p {
    font-size: 15px;
    font-family: Montserrat-Medium;
  }
  select,
  .text-input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d6d6d6;
    background: #fff;
  }
  select:focus,
  select:active,
  .text-input:focus,
  .text-input:active {
    outline: none;
  }
}

.calculator-box {
  background-color: #663399;
  color: #fff;
  border-radius: 0px 15px 15px 0px;
  padding-top: 75px;
  padding-bottom: 75px;
  margin-top: 90px;
  .box-text {
    font-size: 15px;
    color: #d6d6d6;
    margin-bottom: 5px;
    font-family: montserrat-medium;
  }
  .box-value {
    font-size: 25px;
    font-family: opensans-regular;
  }
}
.box-card {
  box-shadow: 0px 0px 30px #2321321f;
  border: 1px solid #ffffff;
  border-radius: 20px;
  opacity: 1;
  padding: 35px;
  margin-bottom: 50px;
  img {
    width: 70px;
    height: 70px;
  }
  .box-card-header {
    font-size: 15px;
    font-family: montserrat-medium;
    color: #333333;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .box-card-text {
    color: #999999;
    font-size: 15px;
    margin-bottom: 10px;
  }
}
.box-card:hover{
   background: #66339961;
   .box-card-header,.box-card-text{
       color: #fff;
   }
}
.grey-text {
  color: #777777;
  font-size: 18px;
  font-family: montserrat-medium;
  margin-top: 30px;
  padding-left: 15px;
}
.open-account-btn {
  color: #663399;
  box-shadow: 0px 0px 20px #00000033;
  border: 2px solid #663399;
  border-radius: 24px;
  opacity: 1;
  padding: 18px 33px;
  background-color: transparent;
  margin-top: 60px;
}
.open-account-btn:hover{
    background-color: #663399;
    color: #fff;
}
.left-blob-img {
  position: absolute;
  left: -90px;
  width: 350px;
  z-index: -1;
  top: 150px;
}
.accounting-dots-left {
  position: absolute;
  left: 300px;
  bottom: 0;
  width: 300px;
  top: 620px;
  z-index: -1;
}
.right-circle-img{
    position: absolute;
    top: -150px;
    width: 800px;
    right: -100px;
    z-index: -1;
}
.accounting-dots-right{
    position: absolute;
    width: 300px;
    right: 100px;
    z-index: -1;

}
